@base-background-color: #C5CAE9;
@selected-background-color: #3F51B5;
@hover-background-color: #303F9F;
@base-color: #000000;
@base-color-opacity: 0.87;
@selected-color: #FFFFFF;

.date-picker-wrapper {
  width: 336px;
  height: 432px;
  position: absolute;
  z-index: 5000;
  background-color: @base-background-color;
  color: @base-color;
  opacity: @base-color-opacity;

  hr {
    margin: 0px;
  }

  .button-region {
    width: 100%;
    height: 48px;
  }

  .calendar-region {
    width: 100%;
    height: 336px;

    .calendar-header {
      height: 48px;
      width: 100%;
      display: flex;
      justify-content: flex-start;

      >div {
        width: 48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .calendar-content {
      width: 100%;
      height: 288px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      >div {
        width: 48px;
        height: 48px;
        background-color: @base-background-color;
        color: @base-color;
        opacity: @base-color-opacity;

        >div {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        >div:hover {
          background-color: @hover-background-color;
          color: @selected-color;
        }

        .selected {
          background-color: @selected-background-color;
          color: @selected-color;
        }
      }
    }
  }

  .bottom-region {
    height: 48px;
    width: 100%;
  }
}
