<input
  [id]="triggerDivId"
  type="text"
  (click)="inputFieldClickHandler()"
  name="dateDisplay"
  [(ngModel)]="dateDisplay"
>
<div
  *ngIf="showDatePicker"
  [ngStyle]="{
    'top.px': calendarPosition.top,
    'left.px': calendarPosition.left,
    'bottom.px': calendarPosition.bottom,
    'right.px': calendarPosition.right
  }"
  class="date-picker-wrapper"
>
  <div class="button-region">
    <button (click)="previousMonthBtnHandler()">{{previousMonthBtnText}}</button>
    <span>{{currentDate.format('MMMM YYYY')}}</span>
    <button (click)="nextMonthBtnHandler()">{{nextMonthBtnText}}</button>
  </div>
  <hr>
  <div class="calendar-region">
    <div class="calendar-header">
      <div *ngFor="let headerItem of headerList">
        {{headerItem}}
      </div>
    </div>
    <hr>
    <div class="calendar-content">
      <div *ngFor="let day of days">
        <div *ngIf="day !== ''" [ngClass]="getDayDivCls(day)" (click)="selectDate(day)">
          {{day}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="bottom-region">
    <button class="close-button" (click)="closeBtnHandler()">Close</button>
  </div>
</div>
