<input
  [id]="triggerDivId"
  type="text"
  (click)="inputFieldClickHandler()"
  name="dateDisplay"
  [(ngModel)]="dateDisplay"
>
<div
  [id]="calendarDivId"
  [hidden]="!showDatePicker"
  [ngStyle]="{
    'top.px': calendarPosition.top,
    'left.px': calendarPosition.left,
    'bottom.px': calendarPosition.bottom,
    'right.px': calendarPosition.right
  }"
  class="date-picker-wrapper"
>
  <div class="nav-region">
    <div class="nav-button" (click)="stepMonth('previous')">{{'<'}}</div>
    <div class="nav-text">
      <span>{{currentDate.format('MMMM YYYY')}}</span>
    </div>
    <div class="nav-button" (click)="stepMonth('next')">{{'>'}}</div>
  </div>
  <div class="calendar-region">
    <div class="calendar-header">
      <div *ngFor="let headerItem of headerList">
        {{headerItem}}
      </div>
    </div>
    <div class="calendar-content">
      <div *ngFor="let day of days">
        <div *ngIf="day !== ''" [ngClass]="getDayDivCls(day)" (click)="selectDate(day)">
          {{day}}
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-region">
    <div class="bottom-button" (click)="closeCalendar()">
      <span>Close</span>
    </div>
  </div>
</div>
